@model Vaistine.Areas.Cags.Models.Cag

@{
    ViewData["Title"] = "Details";
}
<div>
    <h3 class="text-primary text-center">@Model.Descr</h3>
</div>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Контрагент
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parent.Descr)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Cags" asp-controller="Cags" asp-action="Index">
        <a asp-action="Index" class="btn btn-default alert-info" style="margin:5px">Назад</a>
        <a href="" class="btn btn-default alert-success" data-toggle="modal" data-target="#editform"> Изменить </a>
    </a>
</div>

<div class="modal fade" id="editform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-center">
                <h4 class="modal-title text-primary">Изменение</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:20px">
                <div class="form-horizontal">
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Descr" class="control-label col-md-2 text-left">Название</label>
                            <input asp-for="Descr" class="form-control" />
                            <span asp-validation-for="Descr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ParentId" class="control-label col-md-3 text-left"></label>
                            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                                <option value="">Входит в состав</option>
                            </select>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
