@model Vaistine.Areas.Docs.Models.DocHead

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DocHead</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FromStoreId" class="control-label"></label>
                <select asp-for="FromStoreId" class="form-control" asp-items="ViewBag.FromStoreId"></select>
                <span asp-validation-for="FromStoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToStoreId" class="control-label"></label>
                <select asp-for="ToStoreId" class="form-control" asp-items="ViewBag.ToStoreId"></select>
                <span asp-validation-for="ToStoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCagId" class="control-label"></label>
                <select asp-for="FromCagId" class="form-control" asp-items="ViewBag.FromCagId"></select>
                <span asp-validation-for="FromCagId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToCagId" class="control-label"></label>
                <select asp-for="ToCagId" class="form-control" asp-items="ViewBag.ToCagId"></select>
                <span asp-validation-for="ToCagId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descr" class="control-label"></label>
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
